<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"> <!-- 폴더명/파일명 에 있는  th:fragment = "header" 를 가져와서 이 부분을 대체-->
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>HELLO SHOP</h1>

        <h4 class="mb-3" th:text="|로그인: ${memberSession.username}|">로그인 사용자 이름</h4>

        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-success" href="/members/new">회원 가입</a>
            <a class="btn btn-lg btn-success" href="/members/login">로그인</a>
            <a class="btn btn-lg btn-success" href="/members">회원 목록</a>
        </p>
        <p class="lead">상품 기능</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/items/new">상품 등록</a>
            <a class="btn btn-lg btn-primary" href="/items">상품 목록</a>
        </p>
        <p class="lead">주문 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/order">상품 주문</a>
            <a class="btn btn-lg btn-info" href="/orders">주문 내역</a>
        </p>

        <p>
            <a class="btn btn-lg btn-logout" href="/logout">로그 아웃</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>